@import '../styles/variables';
@import '../styles/mixins';
@import '~bulma/bulma';

.navbarOverlay {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 900;
  background-color: $main-background-color;
  opacity: 90%;
}

@media screen and (min-width: 1024px) {
  .navbarOverlay {
    top: 0px;
    position: relative;
    background-color: $main-background-color;
    display: flex;
    opacity: 100%;
  }
}